
/* .sapMBtnBase sapMBtn sapMBarChild {
    left: -1300px;
} */
/* #idBack{
    left: -1300px; 
} */

h2#__title0 {
    left: 70px;
}

h2#__title1 {
    left: 70px;
}

button#caplistreportpage\:\:OrdersObjectPage--fe\:\:CustomAction\:\:idBack {
    right: 96%;
}
